# Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/tulsaurbanist_development

# Rails
RAILS_ENV=development
RAILS_MASTER_KEY=
