/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

 body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100dvh;
}

body.home-controller {
  background-color: var(--secondary-color);
  align-items: center;
}

.main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

body:not(.home-controller) .main {
  border: 1px solid #303030;
}

/* Color Utilities */
.bg-primary { background-color: var(--primary-color); }
.bg-secondary { background-color: var(--secondary-color); }
.bg-tertiary { background-color: var(--tertiary-color); }
.bg-quaternary { background-color: var(--quaternary-color); }
.bg-quinary { background-color: var(--quinary-color); }

.text-primary { color: var(--primary-color); }
.text-secondary { color: var(--secondary-color); }
.text-tertiary { color: var(--tertiary-color); }
.text-quaternary { color: var(--quaternary-color); }
.text-quinary { color: var(--quinary-color); }

/* Utility classes */
.hidden { display: none; }