.home-link {
  font-family: var(--block-font);
  color: var(--primary-color);
}
.home-link:hover {
  color: darkred;
}
.nav-link {
  background: none;
  color: var(--white);
  font-weight: 100;
  margin: 0 0.5em 0;
}
.nav-link:hover {
  box-shadow: inset 0 -2px 0 0 var(--white);
}
.nav-link:active, .nav-link:visited {
  color: var(--quinary-color);
}
.btn {
  padding: 0.5rem 1rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
}
.links {
  border-left: 1px solid var(--black);
  background-color: white;
  padding: 0 1.5rem;
}
.link {
  color: var(--black);
  border-radius: 10px;
  border: none;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.25em 1.25em;
  transition: 200ms ease-in;
  margin-right: 0.25em;
  background-color: var(--palegray);
}
.link:hover {
  background-color: var(--quaternary-color);
}
.button-secondary {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  border: 2px solid var(--palegray);
  transition: 200ms ease-in-out;
  color: var(--black);
  cursor: pointer;
}
.button-secondary:hover {
  background-color: var(--palegray);
}
.button, .actions input[type=submit]  {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  background-color: var(--quaternary-color);
  text-align: center;
  border: none;
  transition: 200ms ease-in-out;
  color: var(--black);
}
.button:hover .actions input[type=submit]:hover {
  background-color: var(--tertiary-color);
}
/* .actions-col {} */
.action-item {
  padding: 0.25em 0.5em;
  border: 1px solid var(--black);
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--palegray);
  transition: 200ms ease-in;
}
.action-item:hover {
  background-color: var(--quaternary-color);
}
.action-item:last-child {
  margin-bottom: 0;
}
.flex .action-item:last-child {
  margin-bottom: 10px;
}